{% extends "app/layouts/base.html" %}

{% block page %}
<div class="d-flex vh-100 w-100 align-items-center justify-content-center bg-success">
  <form class="card card-body bg-white border-0" style="min-width: 400px; max-width: 500px;" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <h5 class="card-title mb-3">Login to Intikhab</h5>

    <p><input class="form-control" type="text" name="username" placeholder="Username"></p>
    <p><input class="form-control" type="password" name="password" placeholder="Password"></p>
    <p class="d-grid mb-0"><input class="btn btn-primary" type="submit" value="Login"></p>
  </form>
</div>
{% endblock %}
